// THEME COLORS
$theme-bg--default:#F4F6F8;
$theme-bg--white:#FFF;
$theme-color--indigo:#3f51b5;
$theme-color--bluegray-p:#263238;
$theme-color--bluegray-s:#546e7a;
// THEME SPACING
$theme-spacing_1: 8px;

// NAV ITEMS COLORS
$disable-nav-color: rgb(202, 74, 74);
$able-nav-color:rgb(133, 230, 77);

// FONT SIZE VARIABLES
$micro-font-size:14px;
$mini-font-size:16px;
$midle-font-size:20px;
$big-font-size:24px;
$mega-font-size:29px;
$giga-font-size:35px;


$text-seconady-color: #3f51b5;
$font-weight-medium: 500;
